* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
}

::-webkit-scrollbar {
    width: 0;
}


.for_page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: 'Orbitron-Regular';
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

// future_fire
span.future_fire {
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #57B8FF;
    margin-bottom: 26px;

    img {
        margin-right: 8px;
    }
}

// welcome
.welcome {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 56%, rgba(87,184,255,1) 56%);
    padding-top: 20px;
    padding-bottom: 200px;

    @media (max-width: 991px) {
        padding-bottom: 80px;
    }

    @media (max-width: 767px) {
        padding-bottom: 60px;
    }

    .header {
        margin-bottom: 215px;

        @media (max-width: 991px) {
            margin-bottom: 80px;
        }
        .header_container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .nav_menu .sub_menu {
                display: flex;
                list-style: none;
                justify-content: center;
                align-items: center;
                margin: 0;
        
                @media (max-width: 991px) {
                    display: none;
                }
            
                .item_menu .link_item_menu{
                    text-decoration: none;
                    margin-right: 60px;
                    color: #FFFFFF;
                    font-size: 16px;
                    line-height: 26px;
                    transition: all 1s ease;
                    white-space: nowrap;
    
                    @media (max-width: 991px) {
                        margin-right: 39px;
                    }
            
                    &:hover {
                        color: #FAC422;
                        transition: all 1s ease;
                    }
                }
            }
            
            .nav_menu .sub_menu .item_menu:last-child .link_item_menu {
                margin-right: 0px;
            }
            
            .header_btn {
                display: flex;
                align-items: center;

                @media (max-width: 991px) {
                    margin-right: 35px;
                }

                a.basket {
                    cursor: pointer;
                    text-decoration: none;
                    margin-right: 40px;

                    .basket_img {
                        width: 31px;
                        height: 32px;
                        position: relative;
                        transition: all .8s ease;

                        &:hover {
                            transition: all .8s ease;
                            transform: rotate(360deg);
                        }

                        .sum {
                            width: 21px;
                            height: 18px;
                            background: #FFFFFF;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 20px;
                            position: absolute;
                            top: -9px;
                            right: -17px;

                            p.result {
                                margin: 0;
                                padding: 0;
                                font-size: 11px;
                                line-height: 18px;
                                color: #141820;
                            }
                        }
                    }
                }

                a.btn {
                    cursor: pointer;
                    text-decoration: none;
                    width: 178px;
                    padding: 16px 0;
                    text-align: center;
                    border: 1px solid #FFFFFF;
                    color: #FFFFFF;
                    font-size: 18px;
                    line-height: 30px;
                    transition: all .8s ease;

                    &:hover {
                        transition: all .8s ease;
                        border: 1px solid rgb(44, 44, 252);
                        color: rgb(44, 44, 252);
                        background: yellow;
                    }

                    @media (max-width: 991px) {
                        display: none;
                    }
                }
            }
        }
    }

    .welcome_contant {
        .welcome_info {
            position: relative;

            @media (max-width: 767px) {
                margin-left: 15px;
            }
    
            .welcome_title {
                max-height: 360px;
                margin-bottom: 45px;
                position: relative;
                overflow: scroll;
    
                @media (max-width: 991px) {
                    max-height: 330px;
                    margin-bottom: 30px;
                }
    
                h2 {
                    font-size: 72px;
                    line-height: 86px;
                    text-transform: capitalize;
                    color: #FFFFFF;
    
                    @media (max-width: 991px) {
                        font-size: 62px;
                        line-height: 76px;
                    }

                    @media (max-width: 767px) {
                        font-size: 50px;
                        line-height: 60px;
                    }
                    
                    @media (max-width: 470px) {
                        font-size: 40px;
                    }
                }
    
                .title_img {
                    position: absolute;
                    bottom: 69px;
                    right: 10px;
    
                    @media (max-width: 767px) {
                        bottom: 53px;
                        right: 95px;
                    }
                }
            }
    
            .welcome_subtitle {
                max-width: 615px;
                margin-bottom: 53px;
    
                p {
                    font-size: 18px;
                    line-height: 28px;
                    color: #999999;

                    @media (max-width: 767px) {
                        font-size: 16px;
                        line-height: 20px;
                    }
                    
                    @media (max-width: 470px) {
                        font-size: 14px;
                    }
                }
            }
    
            .welcome_form {
                display: flex;
                align-items: center;
    
                @media (max-width: 991px) {
                    margin-bottom: 40px;
                }
    
                @media (max-width: 470px) {
                    margin-bottom: 20px;
                }
    
                .form_txt {
                    width: 457px;
                    height: 70px;
                    border: none;
                    padding-left: 40px;
                    background: #000000;
                    margin: 0;
                    color: #FFFFFF;
                    font-size: 18px;
                    line-height: 28px;
    
                    &::placeholder {
                        color: #FFFFFF;
                        font-size: 18px;
                        line-height: 28px;
                    }
    
                    @media (max-width: 991px) {
                        height: 45px;
                    }
                    
                    @media (max-width: 767px) {
                        height: 35px;
                    }
                }
    
                .btn {
                    display: inline-block;
                    width: 203px;
                    height: 70px;
                    font-size: 18px;
                    line-height: 28px;
                    color: #FFFFFF;
                    background: #57B8FF;
                    border-radius: 0;
                    margin: 0;
                    padding: 0;
                    box-shadow: none;
                    transition: all .8s ease;
    
                    &:hover {
                        transition: all .8s ease;
                        color: #57B8FF;
                        background: #FFFFFF;
                    }
    
                    @media (max-width: 1199px) {
                        font-size: 12px;
                    }
    
                    @media (max-width: 991px) {
                        font-size: 16px;
                        height: 45px;
                    }
    
                    @media (max-width: 767px) {
                        font-size: 12px;
                        height: 35px;
                    }
                }
            }

            .welcome_social {
                position: absolute;
                top: 192px;
                left: -219px;
                transform: rotate(-90deg);

                a {
                    cursor: pointer;
                    text-decoration: none;
                    font-size: 11px;
                    line-height: 25px;
                    color: #80858F;
                    margin-right: 58px;
                    transition: all .5s ease;

                    &:hover {
                        transition: all .5s ease;
                        color: #FAC422;
                    }
                }
            }
        }
    
        .welcome_img {
            background: url(../img/main/welcome/personage.png);
            background-repeat: no-repeat;
            background-size: contain;
            height: 500px;
            background-position: left top;
            position: relative;
    
            @media (max-width: 991px) {
                background-position: center center;
            }
    
            .welcome_webflow {
                position: absolute;
                bottom: 0;
                right: -40px;
    
                @media (max-width: 767px) {
                    right: 0;
                }
            }
        }
    }
}

// sponsors
.sponsors {
    padding: 130px 0;
    background: #FDD04A;

    @media (max-width: 991px) {
        padding: 80px 0;
    }
    
    @media (max-width: 767px) {
        padding:  60px 0;
    }
    
    @media (max-width: 470px) {
        padding: 40 px 0;
    }

    .sponsors_title {
        max-width: 374px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 44px;

        @media (max-width: 767px) {
            margin-bottom: 30px;
        }
        
        @media (max-width: 470px) {
            margin-bottom: 20px;
        }

        h2 {
            font-size: 48px;
            text-align: center;
            text-transform: capitalize;
            color: #222730;
            margin: 0;
        }
    }

    .sponsors_subtitle {
        max-width: 576px;
        margin: 0 auto;
        margin-bottom: 41px;

        p {
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            color: #555555;

            @media (max-width: 470px) {
                font-size: 14px;
            }
        }
    }
}

// shop
.shop {
    background: url(../img/main/shop/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 130px 0;

    @media (max-width: 991px) {
        padding: 80px 0;
    }
    
    @media (max-width: 767px) {
        padding: 60px 0;
    }
    
    @media (max-width: 470px) {
        padding: 40px 0;
    }

    .shop_container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .shop_title {
            margin: 12px 0 39px;
            max-width: 716px;

            @media (max-width: 470px) {
                margin: 12px 0;
            }

            h2 {
                font-size: 64px;
                line-height: 74px;
                text-align: center;
                text-transform: capitalize;
                color: #FFFFFF;

                @media (max-width: 991px) {
                    font-size: 50px;
                    line-height: 64px;
                }
                
                @media (max-width: 767px) {
                    font-size: 40px;
                    line-height: 54ps;
                }
                
                @media (max-width: 470px) {
                    font-size: 30px;
                    line-height: 44px;
                }
            }
        }

        .shop_subtitle {
            margin-bottom: 62px;
            max-width: 698px;

            @media (max-width: 767px) {
                margin-bottom: 40px;
            }
            
            @media (max-width: 470px) {
                margin-bottom: 30px;
            }

            p {
                font-size: 20px;
                line-height: 32px;
                text-align: center;
                color: rgba(223, 223, 223, 0.8);

                @media (max-width: 991px) {
                    font-size: 18px;
                }
                
                @media (max-width: 767px) {
                    font-size: 15px;
                    line-height: 20px;
                }
            }
        }
    }

    .shop_card {
        width: auto;
        padding: 35px;
        display: flex;
        align-items: flex-start;
        background: rgba(255, 255, 255, 0.15);
        border-radius: 20px;
        margin-bottom: 32px;
        transition: all 1s ease;

        @media (max-width: 767px) {
            padding: 25px;
        }

        @media (max-width: 470px) {
            padding: 15px;
        }

        &:hover {
            transition: all 1s ease;
            background: rgba(0, 0, 0, 0.719);
        }

        .shop_img {
            margin-right: 16px;
        }

        .shop_item {
            max-width: 471px;
            max-height: 142px;

            h3 {
                font-size: 32px;
                line-height: 42px;
                text-transform: capitalize;
                color: #FFFFFF;
                margin-bottom: 19px;

                @media (max-width: 1199px) {
                    font-size: 25px;
                }

                @media (max-width: 767px) {
                    font-size: 20px;
                }

                @media (max-width: 470px) {
                    font-size: 18px;
                    margin-bottom: 8px;
                }

                @media (max-width: 300px) {
                    font-size: 14px;
                    line-height: 20px;
                }
            }

            p {
                font-size: 18px;
                line-height: 28px;
                color: rgba(223, 223, 223, 0.8);

                @media (max-width: 1199px) {
                    font-size: 13px;
                }

                @media (max-width: 470px) {
                    font-size: 9px;
                    line-height: 15px;
                }
            }
        }
    }
}

// about
.about {
    padding: 130px 0;
    background: #000000;

    @media (max-width: 991px) {
        padding: 80px 0;
    }
    
    @media (max-width: 767px) {
        padding: 60px 0;
    }
    
    @media (max-width: 470px) {
        padding: 40px 0;
    }

    .about_title {
        margin: 12px 0 38px;
        max-height: 231px;
        overflow: hidden;

        @media (max-width: 470px) {
            margin: 12px 0;
        }

        h2 {
            font-size: 64px;
            line-height: 74px;
            text-transform: capitalize;
            color: #FFFFFF;

            @media (max-width: 991px) {
                text-align: center;
            }

            @media (max-width: 767px) {
                font-size: 45px;
                line-height: 50px;
            }
            
            @media (max-width: 470px) {
                font-size: 30px;
            }
        }
    }

    .about_subtitle {
        margin-bottom: 54px;
        max-height: 166px;
        max-width: 721px;
        overflow: scroll;

        @media (max-width: 470px) {
            margin-bottom: 10px;
        }

        p {
            font-size: 20px;
            line-height: 30px;
            color: rgba(223, 223, 223, 0.8);

            @media (max-width: 991px) {
                text-align: center;
                font-size: 18px;
            }

            @media (max-width: 767px) {
                font-size: 15px;
                line-height: 20px;
            }
        }
    }

    a.about_btn {
        cursor: pointer;
        text-decoration: none;
        width: 203px;
        padding: 21px 0;
        display: flex;
        justify-content: center;
        background: #57B8FF;
        font-size: 18px;
        line-height: 28px;
        text-transform: capitalize;
        color: #FFFFFF;
        transition: all .8s ease;

        &:hover {
            transition: all .8s ease;
            background: #FFFFFF;
            color: #57B8FF;
        }

        @media (max-width: 991px) {
            margin: 0 auto;
            margin-bottom: 30px;
        }
    }

    .video_img_container {
        max-width: 492px;
        max-height: 520px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 60px;
        border: 23px solid #0D0D0D;
        margin-left: 30px;

        @media (max-width: 991px) {
            margin-left: 0;
        }

        .youtube {
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            display: inline-block;
            overflow: hidden;
            transition: all 200ms ease-out;
            cursor: pointer;
            width: 492px;
            height: 750px;
            background-size: cover;
        }

        .youtube .play {
            background: url('../img/main/about/play_btn.png') no-repeat; 
            background-position: 0 -129px;
            background-size: 100% auto;
            position: absolute;
            height: 129px;
            width: 129px;
            transition: none;
            top:0;
            left:0;
            right:0;
            bottom:0;
            margin:auto;

            @media (max-width: 767px) {
                height: 70px;
                width: 70px;
                background-position: 0 -70px;
            }
        }

        .youtube:hover .play {
            background-position: 0 0;
        }
    }

    iframe {
        width: 492px;
        height: 750px;
        border-radius: 60px;
    }
}

// customize
.customize {
    background: #2A313C;

    .customize_img {
        height: 695px;
        background: url(../img/main/customize/background.png);
        background-repeat: no-repeat;
        background-size: contain;

        @media (max-width: 1399px) {
            height: 570px;
        }

        @media (max-width: 1199px) {
            height: 400px;
            background-position: left;
        }

        @media (max-width: 1199px) {
            height: 400px;
            background-position: center;
        }
    }

    .customize_container {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @media (max-width: 1199px) {
            justify-content: center;
        }

        .customize_wrapper {
            max-width: 596px;

            @media (max-width: 1399px) {
                max-width: 574px
            }

            @media (max-width: 1199px) {
                padding-bottom: 95px;
            }

            @media (max-width: 991px) {
                max-width: 85%;
            }

            @media (max-width: 767px) {
                max-width: 100%;
                padding-bottom: 40px;
            }

            .customize_title {
                margin: 12px 0 38px;

                @media (max-width: 470px) {
                    margin: 12px 10px;
                }

                h2 {
                    font-size: 63px;
                    line-height: 74px;
                    text-transform: capitalize;
                    color: #FFFFFF;

                    @media (max-width: 991px) {
                        font-size: 50px;
                        line-height: 60px;
                    }
                    
                    @media (max-width: 767px) {
                        font-size: 40px;
                        line-height: 50px;
                    }
                    
                    @media (max-width: 470px) {
                        font-size: 30px;
                        line-height: 40px;
                    }
                }
            }

            .customize_subtitle {
                max-width: 561px;
                margin-bottom: 54px;

                @media (max-width: 470px) {
                    margin: 0 10px 40px 10px;
                }

                p {
                    font-size: 20px;
                    line-height: 30px;
                    color: rgba(223, 223, 223, 0.8);

                    @media (max-width: 991px) {
                        font-size: 18px;
                    }
                    
                    @media (max-width: 767px) {
                        font-size: 15px;
                        line-height: 20px;

                    }
                    
                    @media (max-width: 470px) {
                    
                    }
                }
            }

            .customize_slider_img {
                max-width: 174px;
                max-height: 102px;
                border-radius: 25px;
                overflow: hidden;
                position: relative;
                z-index: 2;

                @media (max-width: 767px) {
                    max-height: 80px;
                    border-radius: 15px;
                }

                @media (max-width: 415px) {
                    max-height: 60px;
                }

                @media (max-width: 290px) {
                    max-height: 40px;
                }
            }

            .slider-carousel {
                position: relative;

                .frame {
                    position: absolute;
                    top: -10px;
                    left: -10px;
                    width: 195px;
                    height: 120px;
                    border-radius: 32px;
                    border: 11px solid #3B3D46;
                    z-index: 10;

                    @media (max-width: 1024px) {
                        width: 187px;
                        height: 117px;
                    }

                    @media (max-width: 767px) {
                        width: 177px;
                        height: 100px;
                    }

                    @media (max-width: 575px) {
                        width: 190px;
                    }

                    @media (max-width: 560px) {
                        width: 180px;
                    }

                    @media (max-width: 535px) {
                        width: 170px;
                    }

                    @media (max-width: 495px) {
                        width: 160px;
                    }

                    @media (max-width: 473px) {
                        width: 150px;
                    }

                    @media (max-width: 415px) {
                        width: 139px;
                        height: 85px;
                    }

                    @media (max-width: 394px) {
                        width: 130px;
                        height: 81px;
                    }

                    @media (max-width: 361px) {
                        width: 118px;
                        height: 73px;
                    }

                    @media (max-width: 290px) {
                        width: 92px;
                        height: 59px;
                        border-radius: 21px;
                        border: 8px solid #3B3D46;
                    }
                }
            }

            .owl-theme .owl-nav {
                width: 100%;
                position: absolute;
                top: 19px;
                right: 0;
    
                @media (max-width: 767px) {
                    top: 9px;
                }
    
                .owl-prev, .owl-next {
                    max-width: 30px;

                    @media (max-width: 767px) {
                        max-width: 15px;
                    }
                }

                .owl-prev {
                    position: absolute;
                    top: 0;
                    left: -4px;

                    @media (max-width: 767px) {
                        top: 0;
                        left: -4px;
                    }
                }

                .owl-next {
                    position: absolute;
                    top: 0;
                    right: 0;

                    @media (max-width: 767px) {
                        right: -5px;
                    }
                } 
            }
        }
    }
}

// pages
.pages {
    display: flex;

    .pages_container {
        width: 33.33%;
        height: 732px;
        background: url(../img/main/pages/background_1.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        @media (max-width: 1199px) {
            height: 600px;
        }

        @media (max-width: 991px) {
            height: 400px;
        }

        @media (max-width: 767px) {
            height: 300px;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #000000ad;
            overflow: hidden;
            opacity: 0;
            transition: all 1s ease;
        }

        &:hover {
            &::after {
                opacity: 1;
                z-index: 2;
            }
        }

        .pages_item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 4;

            .paiges_img {
                @media (max-width: 1199px) {
                    max-width: 80px;
                    margin-bottom: 10px;
                }

                @media (max-width: 991px) {
                    max-width: 60px;
                }

                @media (max-width: 767px) {
                    max-width: 40px;
                }
            }

            .pages_txt {
                h4 {
                    font-size: 48px;
                    line-height: 58px;
                    text-align: center;
                    text-transform: capitalize;

                    @media (max-width: 1199px) {
                        font-size: 35px;
                    }

                    @media (max-width: 991px) {
                        font-size: 28px;
                    }

                    @media (max-width: 767px) {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .container_2 {
        background: url(../img/main/pages/background_2.png);
        background-repeat: no-repeat;
        background-size: cover;

        .paiges_img {
            margin-bottom: 30px;

            @media (max-width: 1199px) {
                margin-bottom: 0;
            }
        }
    }

    .container_3 {
        background: url(../img/main/pages/background_3.png);
        background-repeat: no-repeat;
        background-size: cover;

        .paiges_img {
            margin-bottom: 30px;

            @media (max-width: 1199px) {
                margin-bottom: 0;
            }
        }
    }
}

// news
.news {
    padding: 130px 0;
    background: #000000;

    @media (max-width: 991px) {
        padding: 80px 0;
    }
    
    @media (max-width: 767px) {
        padding: 60px 0;
    }
    
    @media (max-width: 470px) {
        padding: 40px 0;
    }

    p.news_data {
        font-size: 18px;
        line-height: 18px;
        color: #57B8FF;
    }

    .news_title_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 64px;

        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;
        }

        .news_txt_wrapper {
            .news_title {
                max-width: 652px;
                margin-top: 12px;

                @media (max-width: 767px) {
                    margin-bottom: 20px;
                }

                h2 {
                    font-size: 64px;
                    line-height: 74px;
                    text-transform: capitalize;

                    @media (max-width: 767px) {
                        font-size: 50px;
                        text-align: center;
                    }
                    
                    @media (max-width: 470px) {
                        font-size: 40px;
                    }
                }
            }
        }

        a.news_btn {
            cursor: pointer;
            text-decoration: none;
            width: 175px;
            padding: 21px 0;
            color: #FFFFFF;
            text-align: center;
            background: #57B8FF;
            border:  1px solid #57B8FF;
            transition: all .8s ease;

            &:hover {
                transition: all .8s ease;
                color: #57B8FF;
                background: #FFFFFF;
            }
        }
    }

    .news_contant_wrapper_first {
        @media (max-width: 991px) {
            margin-bottom: 50px;
        }
        .news_img_first {
            margin-bottom: 54px;
        }

        .news_first_title {
            margin-top: 28px;
            max-width: 607px;

            h3 {
                font-size: 36px;
                line-height: 46px;
                text-transform: capitalize;
            }
        }
    }

    .news_contant_wrapper_second {
        margin-bottom: 40px;

        @media (max-width: 991px) {
            padding: 10px;
            border-bottom: 1px solid rgba(255, 217, 0, 0.529);
            border-right: 1px solid gold;
            border-radius: 20px;
            margin-bottom: 20px;
            transition: all 1s ease;

            &:hover {
                box-shadow: 0.5px 0.5px 10px gold;
            }
        }

        .news_img_second {
            margin-bottom: 30px;
        }

        p {
            margin-bottom: 0;
            font-size: 16px;
        }

        .news_second_title {
            margin-top: 20px;
            height: 108px;
            overflow: hidden;

            h4 {
                font-size: 23px;
                line-height: 34px;
                text-transform: capitalize;
            }
        }
    }

    .second_2 {
        @media (max-width: 991px) {
            border-right: none;
            border-left: 1px solid gold;
            
        }
    }

    .second_3 {
        @media (max-width: 991px) {
            border-bottom: none;
            border-top: 1px solid rgba(255, 217, 0, 0.529);
        }
    }
}

// join
.join {
    background: url(../img/main/join/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 130px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1199px) {
        padding: 100px 0;
    }

    @media (max-width: 991px) {
        padding: 70px 0;
    }

    @media (max-width: 767px) {
        padding: 40px 0;
    }

    .join_title {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        max-width: 746px;
        margin-bottom: 33px;

        h2 {
            font-size: 72px;
            line-height: 82px;
            text-align: center;
            color: #141820;
            margin: 0;
            padding: 0;

            @media (max-width: 767px) {
                font-size: 53px;
            }

            @media (max-width: 470px) {
                font-size: 40px;
                line-height: 50px;
            }
        }
    }

    .join_subtitle {
        max-width: 846px;
        margin-bottom: 45px;

        @media (max-width: 991px) {
            max-width: 600px;
            margin-bottom: 35px;
        }

        p {
            font-size: 18px;
            line-height: 28px;
            text-align: center;
            color: #555555;

            @media (max-width: 991px) {
                font-size: 13px;
            }
        }
    }

    .join_form {
        display: flex;
        align-items: center;

        @media (max-width: 991px) {
            flex-direction: column;
        }

        .email {
            width: 445px;
            height: 80px;
            border: none;
            padding-left: 13px;
            background: #FFFFFF;
            margin: 0;
            color: #555555;
            font-size: 18px;
            line-height: 28px;

            @media (max-width: 991px) {
                width: 100%;
                height: 50px;
                padding-left: 30px;
                padding-right: 30px;
            }

            &::placeholder {
                color: #555555;
                font-size: 18px;
                line-height: 28px;

                @media (max-width: 991px) {
                    text-align: center;
                }
            }
        }

        .btn {
            display: inline-block;
            width: 221px;
            height: 70px;
            font-size: 18px;
            line-height: 28px;
            color: #FFFFFF;
            background: #57B8FF;
            border-radius: 0;
            margin: 0;
            padding: 0;
            box-shadow: none;
            transition: all .8s ease;

            &:hover {
                transition: all .8s ease;
                color: #FED458;
                height: 80px;

                @media (max-width: 991px) {
                    height: 50px;
                }
            }

            @media (max-width: 991px) {
                width: 50%;
                height: 50px;
                font-size: 13px;
            }
        }
    }
}

// pre_footer
.pre_footer {
    padding: 130px 0 0 0;
    background: #222730;

    @media (max-width: 991px) {
        padding: 80px 0;
    }
    
    @media (max-width: 767px) {
        padding: 60px 0;
    }
    
    @media (max-width: 470px) {
        padding: 40px 0;
    }

    .pre_footer_info {


        @media (max-width: 991px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .pre_footer_logo {
            margin-bottom: 35px;

            @media (max-width: 991px) {

            }
        }

        .pre_footer_info_txt {
            padding-bottom: 67px;
            max-width: 289px;

            p {
                font-size: 15px;
                line-height: 25px;
                color: #999999;

                @media (max-width: 991px) {
                    text-align: center;
                }
            }
        }
    }

    .pre_footer_item {
        @media (max-width: 991px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .list_item {
            // margin-right: 95px;

            // @media (max-width: 991px) {
            //     margin-right: 75px;
            // }
            
            // @media (max-width: 767px) {
            //     margin-right: 55px;
            // }

            // &:last-child {
            //     margin-right: 0;
            // }
    
            .list_item_txt {
                display: flex;
                align-items: center;
                margin-bottom: 24px;

                @media (max-width: 991px) {
                    margin-bottom: 15px;
                }

                p {
                    font-size: 18px;
                    line-height: 30px;
                    color: #FFFFFF;
                }
            }
    
            .sub_menu {
                padding-left: 0;

                @media (max-width: 991px) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

    
                li {
                    list-style-type: none;
                    padding-left: 0;
    
                    a {
                        display: inline-block;
                        font-size: 15px;
                        line-height: 38px;
                        cursor: pointer;
                        text-decoration: none;
                        color: #999999;
                        transition: all 1s ease;
                        
                        @media (max-width: 767px) {
                            font-size: 13px;
                        }

                        &:hover {
                            color: white;
                            transition: all 1s ease;
                        }
                    }
                }
            }
        }
    }

    .pre_footer_icons {

        @media (max-width: 991px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .icons_txt {
            margin-bottom: 24px;

            p {
                font-size: 18px;
                line-height: 30px;
                text-transform: capitalize;
            }
        }

        .icons {
            display: flex;
            justify-content: space-between;
            width: 220px;

            @media (max-width: 1199px) {
                width: 170px;
            }

            @media (max-width: 991px) {
                width: 250px;
            }

            div {
                width: 40px;
                height: 40px;
                background: #383D45;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all .2s ease;

                @media (max-width: 1199px) {
                    width: 30px;
                    height: 30px;
                }

                @media (max-width: 991px) {
                    width: 50px;
                    height: 50px;
                }


                &:hover {
                    i {
                        transition: all .2s ease;
                        font-size: 25px;
                    }
                }

                a {
                    cursor: pointer;
                    text-decoration: none;
                    margin: 0;

                    i {
                        color: #FFFFFF;
                        font-size: 0px;
                        margin: 0;
                        transition: all 2s ease;

                        &:hover {
                            transition: all 2s ease;
                            color: rgb(207, 171, 243);
                        }
                    }
                }
            }
        }
    }

    .pre_footer_contaainer {
        border-bottom: 1px solid gray;
    }
}

// footer
.footer {
    padding: 48px 0 61px;
    background: #222730;

    @media (max-width: 991px) {
        padding: 30px 0;
    }
    
    @media (max-width: 767px) {
        padding: 20px 0;
    }

    .footer_title {
        p {
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            color: #898989;
        }
    }
}

// togle & side bar
.toggle {
    position: absolute;
    top: 24px;
    right: 8px;
    width: 40px;
    height: 40px;
    background: url(../img/header/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
    z-index: 1000;
    display: none;

    @media (max-width: 991px) {
        display: block;
    }
}

.toggle.active {
    background: #000 url(../img/header/close.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
}

.sidebar {
    position: fixed;
    background: #000;
    opacity: 0.95;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    padding: 40px;
    z-index: 100;
    right: -100%;
    width: 100vw;

    .active {
        right: 0;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        li {
            list-style: none;

            a {
                color: #fff;
                text-decoration: none;
                cursor: pointer;
                font-size: 2em;
                margin: 10px 0;
                letter-spacing: 2px;
                text-transform: uppercase;
                transition: all .4s ease;

                &:hover {
                    transition: all .4s ease;
                    color: #00bcd4;
                }
            }
        }

        a.btn {
            margin-top: 40px;
            cursor: pointer;
            text-decoration: none;
            width: 178px;
            padding: 16px 0;
            text-align: center;
            border: 1px solid #FFFFFF;
            color: #FFFFFF;
            font-size: 18px;
            line-height: 30px;
            transition: all .8s ease;

            &:hover {
                transition: all .8s ease;
                border: 1px solid rgb(44, 44, 252);
                color: rgb(44, 44, 252);
                background: yellow;
            }
        }
    }
}

.sidebar.active {
    right: 0;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
    border: 0;
}

